## Environment normalization:
/.bundle
/vendor/bundle

# Ignore Byebug command history file.
.byebug_history

### Rails ###
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage
/spec/tmp
**.orig
rerun.txt
/doc
config/initializers/secret_token.rb

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride
*.swp

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

